body{
    background-color: bisque;
}
nav ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
ul{
    list-style-type: none;
}
button{
    background-color: #4CAF50;
    color:  white;
    border-radius: 10px;
    box-shadow: none;
    padding: 10px 20px;
    border: none;
}
a{
    color: inherit;
    text-decoration: none;
    padding: 10px 20px;
}